* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    "sans-serif";
  box-sizing: border-box;
  margin: 0;
}
header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header-logo {
  width: 200px;
  height: 100px;
  object-fit: contain;
}
.header-menu {
  width: 50px;
  height: 50px;
}

.content_wrapper {
  gap: 2px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: white;
}

.content-container {
  width: calc(100% - 308px);
  
  padding: 16px;
 
  
}
.content-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  filter: drop-shadow(2px 2px 2px orange);
}
.content-container nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.content-container nav a {
  color: black;
  display: flex;
}
.content-container nav img {
  width: 30px;
  height: 30px;
  display: flex;
}

.menu {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.menu:hover {
  background-color: red;
}

footer{
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
};
